;; !  | means mandatory
;; #  | means optional
;; C  | left_command
;; T  | left_control
;; O  | left_option
;; S  | left_shift
;; F  | fn
;; Q  | right_command
;; W  | right_control
;; E  | right_option
;; R  | right_shift
;; P  | caps_lock
;; !! | mandatory command + control + optional + shift (hyper)
;; ## | optional any

{;
  :default      true

  ;; keys need to be pressed within this threshold to be considered simultaneous
  ; simultaneous_threshold_milliseconds (def: 50)
  :sim          100
  ;; basically it means time after which the key press is count delayed
  ; to_delayed_action_delay_milliseconds (def: 500)
  :delay        500
  ;; hold for 995s and single tap registered; hold for 1005s and seen as modifier
  ; to_if_alone_timeout_milliseconds (def: 1000)
  :alone        1000
  ;; key is fired twice when 500 ms is elapsed (otherwise seen as a hold command)
  ; to_if_held_down_threshold_milliseconds (def: 500)
  :held         1000

  :templates    {;
                  :km   "osascript -e 'tell application \"Keyboard Maestro Engine\" to do script \"%s\"'"
                  :open "open \"%s\""
                  ;
                  }
  ;; templates

  :modifiers    {;
                  :super-hyper [:command :shift :control :option :fn]
                  :hyper       [:command :shift :control :option]
                  :cos         [:command :shift :option]
                  :cst         [:command :shift :control]
                  :co          [:command :option]
                  :cs          [:command :shift]
                  :ct          [:command :control]
                  :to          [:control :option]
                  :ts          [:control :shift]
                  :os          [:option :shift]
                  ;
                  }
  :froms        {;
                  :delete {:key :delete_or_backspace}
                  :return {:key :return_or_enter}
                  :tilde  {:key :grave_accent_and_tilde}
                  ;
                  }
  :layers       {;
                  :caps_mode         {:key :caps_lock :alone {:key :escape}}
                  :space_mode        {:key :spacebar :alone {:key :spacebar}}
                  :right_option_mode {:key :right_option :alone {:key :delete_forward}}
                  :movement_mode     {:key :fn}
                  ;
                  }

  :simlayers    {;
                  :launch-mode {:key :tab}
                  :delete_mode {:key :spacebar}
                  :bypass_mode {:key :escape}
                  ;
                  }

  :applications {;
                  :terminals     [;
                                   "com.jetbrains.intellij",
                                   "com.googlecode.iterm2"
                                   ;
                                   ]
                  ;
                  :home_end_apps [;
                                   "com.outlook"
                                   ;
                                   ]}

  :main         [;
                ;               {:des "easier to reach modifier keys"
                ;                :rules
                ;                [;
                ;                  [:##f :left_command nil {:alone :f}]
                ;                  [:##d :left_option nil {:alone :d}]
                ;                  [:##s :left_control nil {:alone :s}]
                ;
                ;                  ;
                ;                  ]}

                  {:des "global remap"
                   :rules
                   [;

                     [:##right_shift :right_shift [:!movement_mode] {:alone :delete_or_backspace}]

                     [:left_control :left_command [:!terminals]]
                     ;
                     ]}

                  {:des "movement_mode"
                   :rules
                   [;
                     :movement_mode
                     ; modifiers
                     [:##f :left_command]
                     [:##d :left_option]
                     [:##s :left_control]

                     ; arrows
                     [:##j :left_arrow]
                     [:##i :up_arrow]
                     [:##k :down_arrow]
                     [:##l :right_arrow]
                     [:##u :home]
                     [:##o :end]
                     [:##open_bracket :page_up]
                     [:##quote :page_down]

                     ; remapping
                     [:##right_shift :right_shift nil {:alone :delete_forward}]
                     ;
                     ]}
                  ;
                  {:des "control_movement_mode"
                   :rules
                   [;; start_rules
                     :control_movement_mode

                     [:##j :!Tleft_arrow]
                     [:##i :!Tup_arrow]
                     [:##k :!Tdown_arrow]
                     [:##l :!Tright_arrow]
                     [:##u :!Thome]
                     [:##o :!Tend]
                     [:##open_bracket :!Tpage_up]
                     [:##quote :!Tpage_down]

                     ;
                     ]}

                  {:des "option_movement_mode"
                   :rules
                   [;; start_rules
                     :option_movement_mode

                     [:##j :!Oleft_arrow]
                     [:##i :!Oup_arrow]
                     [:##k :!Odown_arrow]
                     [:##l :!Oright_arrow]
                     [:##u :!Ohome]
                     [:##o :!Oend]
                     [:##open_bracket :!Opage_up]
                     [:##quote :!Opage_down]

                     ;
                     ]}
                  ;
                  {:des "delete_mode"
                   :rules
                   [;
                     :delete_mode
                     [:##a :delete_or_backspace]
                     [:##left_shift :##left_shift nil {:alone :!Odelete_or_backspace}]
                     [:##right_shift :##right_shift nil {:alone :##delete_forward}]
                     ;
                     ]}

                  {:des "caps_mode"
                   :rules
                   [;
                     :caps_mode
                     [:##spacebar :delete_or_backspace]
                     ;
                     ]}


                  {:des "trackpad"
                   :rules
                   [;
                     :multitouch_extension_finger_count_total
                     [:##r :button1]
                     [:##e :button3]
                     [:##w :button2]

                     [:##j :button1]
                     [:##k :button3]
                     [:##l :button2]
                     ;

                     ]}

;                  {:des "trackpad + movement"
;                   :rules
;                   [;
;                     [:multitouch_extension_finger_count_total :movement_mode]
;                     [:c :!Cc]
;
;                     [:v [:button1 :!Cv]]
;                     ;
;                     ]}


                  {:des "trackpad 2-fingers"
                   :rules
                   [;
                     [:condi ["multitouch_extension_finger_count_total" 2]]
                     [:##d :left_option]
                     [:##s :left_control]
                     ;
                     ]}

                  {:des "modifier remapping"
                   :rules
                   [;


                   ;
                     ]}
                  ;
                  ]
  ;
  }
